<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  {{!-- Bible is a puzzle, amen! 🥰 --}}
  <style id="s">
    body{font-family: 'Helvetica';}
    .qi__{
      display: inline-block;
      }
    .qi{
      width: 670px;
      max-width: calc(98%);
      border: 1.2px solid;
      padding: 0px 4px 2px 4px;
      margin-bottom: 4px;
      margin-right: 7px;
    }
    .qi_t{
      margin-bottom: 4px;
    }
    .dbnn{width: 80px;}
    .bn{width: 230px;}
    .b{width: 120px;}
    .c{width: 70px;}
    .a{width: 70px;}
    .o{width: 56px;}
    select{width: 100%;}
    select[name="m"]{width: 300px;}
    .wsi{width: 80px;}
    select[name="y"]{width: 120px;}
    .HE{font-family: 'Helvetica';}
    .VE{font-family: 'Verdana';}
    .TN{font-family: 'Times New Roman';}
    .GA{font-family: 'Garamond';}
    .CC{font-family: 'Comic Sans MS';}
    .CO{font-family: 'Courier New';}
    .GE{font-family: 'Georgia';}
    .OL{font-family: 'Lucida Console';}
    .TA{font-family: 'Tahoma';}        
    textarea{
      width: 98%;
      resize: none;      
      white-space: pre;
      overflow-wrap: normal;
    }
  </style>
</head>
  
  {{{body}}}

  
</html>